/* Tableros */

.menu {
    -fx-background-color: #30469D;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center;
}

.ventana-juego {
    -fx-background-color: #3C57C3;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center;
}

.tablero {
    -fx-background-color: #FFFFFF;
    -fx-padding: 10px;
    -fx-gap: 5;
}

.tablero-claro {
    -fx-background-color: #EDCDAF;
    -fx-background-radius: 5px;
}

.tablero-oscuro {
    -fx-background-color: #3A230D;
    -fx-background-radius: 10px;
}

.tablero-inactivo {
    -fx-opacity: 0.35;
}

.button {
    -fx-background-radius: 5;
}

.button:hover {
    -fx-brightness: 1.1;
}

.button-menu {
    -fx-background-radius: 20px;
    -fx-font-size: 20px;
    -fx-padding: 10 20 10 20;
    -fx-background-color: #307C9D;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.button-menu:hover {
    -fx-brightness: 1.1;
    -fx-background-color: #42a4d0;
    -fx-cursor: hand;
}

.casilla-disponible {
    -fx-background-color: #ACFABC;
    -fx-border-color: #4b9d5e;
    -fx-border-width: 2;
    -fx-border-radius: 5;
}
.casilla-disponible:hover {
    -fx-brightness: 1.1;
}


.titulo {
    -fx-font-size: 48px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.subtitulo {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.estilo-fase-pasiva {
    -fx-background-color: #80A8CF;
    -fx-padding: 5 15 5 15;
    -fx-background-radius: 20px;
    -fx-font-weight: bold;
}

.estilo-fase-agresiva {
    -fx-background-color: #CF8080;
    -fx-padding: 5 15 5 15;
    -fx-background-radius: 20px;
    -fx-font-weight: bold;
}


